<h1>OK IT'S MAYBE OK</h1>
<p>{{model.name}}</p>
<ul>
{{#each model.tracks.items as |song|}}
    <li>{{song.track.name}} 
        <audio src="{{song.track.preview_url}}" controls="controls">
        </audio>
    </li>
{{/each}}
</ul>